<footer class="footer">
  <div class="container">
      <div class="footer__grid">
          <div class="footer__col footer__col--brand">
              <a href="./#hero" class="footer__logo">
                  <span data-lucide="hexagon"></span>
                  SphexaBytex
              </a>
              <p class="footer__desc">
                  Передовая цифровая инфраструктура для вашего образования. Постройте карьеру, которая работает на вас.
              </p>
              <div class="footer__copyright">
                  &copy; 2025 Sphexa Bytez. Все права защищены.
              </div>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Навигация</h3>
              <ul class="footer__list">
                  <li><a href="./#programs" class="footer__link">Программы</a></li>
                  <li><a href="./#innovations" class="footer__link">Инновации</a></li>
                  <li><a href="./#mentors" class="footer__link">Менторы</a></li>
                  <li><a href="./#blog" class="footer__link">Карьерный блог</a></li>
              </ul>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Информация</h3>
              <ul class="footer__list">
                  <li><a href="./privacy.html" class="footer__link">Политика конфиденциальности</a></li>
                  <li><a href="./cookies.html" class="footer__link">Политика Cookie</a></li>
                  <li><a href="./terms.html" class="footer__link">Условия использования</a></li>
                  <li><a href="./return.html" class="footer__link">Политика возврата средств</a></li>
                  <li><a href="./disclaimer.html" class="footer__link">Отказ от ответственности</a></li>
                  <li><a href="./personal-data-policy.html" class="footer__link">Политика обработки персональных данных</a></li>
              </ul>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Контакты</h3>
              <ul class="footer__contacts">
                  <li class="footer__contact-item">
                      <span data-lucide="map-pin"></span>
                      <span>Torstraße 178, 10115 Berlin, Deutschland</span>
                  </li>
                  <li class="footer__contact-item">
                      <span data-lucide="mail"></span>
                      <a href="mailto:support@sphexa-bytez.org">support@sphexa-bytez.org</a>
                  </li>
                  <li class="footer__contact-item">
                      <span data-lucide="phone"></span>
                      <a href="tel:+493012345678">+49 (0) 30 1234 5678</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>