<header class="header">
  <div class="header__container container">
      <a href="./#hero" class="header__logo">
          <span class="header__logo-icon" data-lucide="hexagon"></span>
          Sphexa<span class="header__logo-accent">Bytez</span>
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="./#about" class="header__link">О школе</a></li>
              <li class="header__item"><a href="./#programs" class="header__link">Программы</a></li>
              <li class="header__item"><a href="./#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="./#mentors" class="header__link">Менторы</a></li>
              <li class="header__item"><a href="./#blog" class="header__link">Блог</a></li>
              <li class="header__item"><a href="./#faq" class="header__link">FAQ</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary btn--sm">Начать сейчас</a>
          <button class="header__burger" aria-label="Menu">
              <span></span>
              <span></span>
          </button>
      </div>
  </div>
</header>